---

---

<footer class='flex gap-4 justify-around pt-32 pb-4'>
  <p class='text-pretty opacity-75'>Made by Johann Gonçalves Pereira</p>
  <p class='text-pretty opacity-75'>
    © 2025 Zaira Gonçalves Pereira. All rights reserved.
  </p>
</footer>
