---

---

<footer class='flex gap-4 justify-around pt-16 pb-4 px-8'>
  <p class='text-pretty opacity-75 text-center'>
    Made by Johann Gonçalves Pereira
  </p>
  <p class='text-pretty opacity-75 text-center'>
    © 2025 Zaira Gonçalves Pereira. All rights reserved.
  </p>
</footer>
