---
import House from "@media/assets/house.astro";
import Images from "@media/assets/image.astro";
---

<header
  class='fixed inset-x-0 top-4 m-auto w-fit bg-rose-500/30 rounded-full border-2 border-rose-500 backdrop-blur-sm z-20 md:scale-50 hover:scale-100 transition-transform'
>
  <nav class='flex gap-1'>
    <a class='py-1 pr-2 pl-3' href='/' aria-label='Go to Home page'>
      <House />
    </a>
    <a class='py-1 pr-3 pl-2' href='/gallery' aria-label='Go to Gallery page'>
      <Images />
    </a>
  </nav>
</header>
