---
import Layout from "@layouts/Layout.astro";
---

<Layout title='Zaira Gallery'>
  <h1 class='text-4xl font-bold text-center'>Gallery</h1>
  <p class='text-center'>Welcome to the gallery page.</p>
</Layout>
