---
import { Image } from "astro:assets";

import MiniGallery from "@components/home/widgets/MiniGallery";

import Instagram from "@media/assets/instagram.astro";
import Profile from "@media/images/profile.png";
import Twitter from "@media/assets/twitter.astro";
---

<article class='h-screen py-16 grid md:grid-cols-[1fr,auto] gap-4 lg:gap-8'>
  <header
    class='flex flex-col items-center gap-4 md:col-start-2 md:row-start-1 row-start-2'
  >
    <div
      class='h-40 w-40 mx-16 overflow-hidden rounded-full border-2 border-rose-500 outline-gray-700 outline-solid'
    >
      <Image
        src={Profile}
        alt='Profile Photo of Zaira Gonçalves Pereira'
        class='aspect-square object-cover object-top'
      />
    </div>

    <p class='md:max-w-48 text-pretty opacity-75 px-8 md:px-0'>
      Velit eligendi voluptas maiores, libero magni perspiciatis recusandae?
      <br />
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo enim, beatae
      architecto impedit expedita modi cum explicabo consequuntur. Nisi dolores,
      magnam temporibus itaque accusantium dolorum nulla doloremque distinctio? Placeat,
      vel!
    </p>

    <div class='mt-auto flex gap-4 px-8'>
      <a href='#'>
        <Instagram />
      </a>
      <a href='#'>
        <Twitter />
      </a>
    </div>
  </header>
  <footer
    class='md:col-start-1 row-start-1 grid grid-rows-[auto_1fr] gap-4 md:ml-12'
  >
    <div class='flex gap-4'>
      <button class='px-8 py-4 rounded-full border border-dashed'
        >Categorias</button
      >
      <button class='px-8 py-4 rounded-full border border-dashed'
        >Historico</button
      >
    </div>
    <MiniGallery />
  </footer>
</article>
