---
import StarrySky from "./widgets/StarrySky";
---

<article
  class='relative z-10 grid h-dvh place-items-center'
  style={{
    maskImage:
      "linear-gradient(to bottom, transparent -5%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, transparent 100%)",
  }}
>
  <StarrySky />
  <header
    class='mr-auto grid gap-4 pb-24 opacity-90 portrait:mx-4 landscape:ml-12'
  >
    <h1 class='text-4xl text-pretty'>Zaira Gonçalves Pereira</h1>
    <h3
      class='max-w-[clamp(36.25rem,33.2065rem+15.2174vw,45rem)] text-xs opacity-80 text-pretty'
    >
      I am Zaira, an artist passionate about creating beautiful and inspiring
      art. My journey is driven by creativity and a desire to bring beauty into
      others' lives. Join me and explore the wonders of imagination and
      expression.
    </h3>
  </header>
</article>
